_build/
tmp
mbin/*
bin/*
gen/dep_labels.dot
gen/dependencies.png
gen/dependencies2.png
*.pyc
*.out
*.so
gen/dep.dot
gen/dep2.dot
*debug/
build/
venv/
.idea/
.history/

*.DS_Store
*.pt
*.pth
*.tf
*.gz
*.java
*.pdf
*.pkl
source/ch11-llm/security/*
.git.bk/*
.git.bk
*.tgz
*.jpg
*.mat
*/checkpoints/*
figures/
experiments/
*__pycache__/
data
